.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.line-graph {
  height: 400px;
  width: 400px;
}

.line-graph > div,
.line-graph > canvas {
  height: 100% !important;
}
